table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 1px;

}

tr:nth-child(even) {
  background-color: #dddddd;
}



.container {
  padding: 40px 80px 80px;
  max-width: 100vh;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 0px;
}

text {
  flex: 1 1 auto;
}




a {
margin-right: 0px;
width: fit-content;
}



html {
  height: 100vh;
}

body {
 background: url('src/assets/img/HOME_BG.jpg');
  background-size: cover;
  margin: auto;
}



.pagination{
  position: relative; 
  padding: 15px;
  bottom: 0%;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.fonters {
  font-family: 'grossregular';
  font-size: 50px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, #ee9b00 0%, rgb(193, 164, 0) 100%);
  color:white;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;
}

@media (max-width: 1000px){
  header{
      /* Reverse the axis of the header, making it vertical. */
      flex-direction: column;

      /* Align items to the begining (the left) of the header. */
      align-items: flex-start;
  }
}
.logo {
  width:100px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
  margin: 0;
}

.inner-header {
  height:10vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.lefty {
  float: left;
  padding-left: 60px;
  padding-top: 20px;
}











@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff*/
span.s1 {
  position: absolute;
  top: 0;
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #3C4447;
}

span.s2 {
  font-weight: 800;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 15rem;
  text-transform: uppercase;
  color: #3C4447;
}

/*My hum... body.. yeah..*/
body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
}

/* The card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
}

/* Image on the left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 320px;
  width: 530px;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: 0;
}

/*object-fit: cover;*/
/*object-position: center;*/
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

.author {
  background-color: #9ECAFF;
  height: 30px;
  width: 110px;
  border-radius: 20px;
}

.author > img {
  padding-top: 5px;
  margin-left: 10px;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}
.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release*/
h5 {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: 6rem;
  color: #C3C3C3;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: 70px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #1875D0;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}