<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">

        <!-- navbar header -->
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <a href="#intro" class="smoothScroll"><img src="https://uapsaust.com/assets/img/HEADER%20LOGO.png" style ="width:200px; float:left;"class="img-fluid"></a>
            <a href="#intro" class="navbar-brand smoothScroll ">Arko</a>


        <nav class="stroke">
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a
                    href="#events"
                    class="navbhar-brand hoverable"
                    class="smoothScroll">Events</a>
                </li>
                <li><a
                    href="#exhibit"
                    class="navbhar-brand hoverable"
                    class="smoothScroll">Exhibit</a>
                </li>
                <li><a
                    href="#articles"
                    class="navbhar-brand hoverable"
                    class="smoothScroll">Articles</a>
                </li>
                <li><a
                    href="#about-us"
                    class="navbhar-brand hoverable"
                    class="smoothScroll">About Us</a>
                </li>
            </ul>
        </div>
      </nav>
    </div>
</div>