<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Contact Us</h6>
          <p class="text-justify">España Blvd, Sampaloc, Manila, 1008 Metro Manila</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.united-architects.org">UAP</a></li>
            <li><a href="https://www.facebook.com/uapsanational">UAPSA NATIONAL</a></li>
          </ul>
        </div>

        <div>
            <a class="smoothScroll"><img src="assets/img/160X160 UAPSA LOGO.png" 
                style ="width:100px; "class="img-fluid"></a>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021 UAPSA University of Santo Tomas</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icon">
                <li><a href="https://www.facebook.com/officialuapsaust/" target="_blank" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                <li><a href="https://twitter.com/uapsaust" target="_blank" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                <li><a href="https://www.instagram.com/uapsa.ust/" target="_blank" class="fa fa-instagram wow fadeInUp" data-wow-delay="1.9s"></a></li>
            </ul>
        </div>
      </div>
    </div>
</footer>