.main {
    margin-left: 120px; /* Same as the width of the sidenav */
    margin-right: 0px;
    padding: 0px 10px;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: 1px;
  
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .right{
    float: right;
  }