<body>
  
    <div class="container">
    
    <div class="jumbotron">
      <h1 class="text-center"><strong>{{thisShowroom.AuthorName}}</strong></h1>
      <br>
      
        
      <br>
    
    <div class="image-section">
    <div id="viewer" class="img-responsive" alt="Jim Henson and Kermit the Frog"></div>
    <p class="text-center" id="photo-description"><font size="3">{{thisShowroom.AuthorName}}, short description of the work here para cool</font></p>
    </div>
    
    <br><br><br>
  
    <div class="information">
    <p><font color="#908d8d" size="3">{{thisShowroom.Description}}</font></p>
    </div>  
     
    </div>  
    </div>
  
    <p class="text-center">UAPSA UST</p>
     
  </body>
  
  